@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
    overflow-x: hidden;
}

.contenedor::-webkit-scrollbar:vertical {
    width:4px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 1px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* Slider */
/* .gallery {
    width: 100%;
}

.gallery-container {
    display: flex;
    align-items: center;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    opacity: 0.8;
    z-index: 1;
    width: 400px;
    height: 240px;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    min-width: 500px;
    min-height: 300px;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 36px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover::before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background-color: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background-color: #555;

} */

/* Slider 2 */
/* Slider */
.gallery {
    width: 100%;
}

.gallery-container {
    display: flex;
    align-items: center;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    overflow: hidden; /* Evita que los elementos sobresalgan */
}

.gallery-item {
    opacity: 0;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Asegura que las transiciones ocurran de forma suave */
    width: 330px;
    z-index: 0;
    border-radius: 15px;
}

.gallery-item-1 {
    left: 15%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    opacity: 0.8;
    z-index: 1;
    width: 400px;
    height: 240px;
    transform: translateX(-50%);
}

.gallery-item-2 {
    left: 30%;
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 500px; /* Cambié min-width a width */
    height: 300px; /* Cambié min-height a height */
}

.gallery-item-4 {
    left: 70%;
}

.gallery-item-5 {
    left: 85%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 36px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover::before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background-color: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background-color: #000000;
}

/* Gato */

.cat {
    position: relative;
    height: 170px;
    width: 192px; /* $size * 1.13 */
}

/* Estilos para las orejas del gato */
.ear {
    position: absolute;
    top: -30%;
    height: 60%;
    width: 25%;
    background: #fff; /* $color-white */
}

.ear--left {
    left: -7%;
    border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(-15deg);
}

.ear--right {
    right: -7%;
    border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
    transform: rotate(15deg);
}

/* Estilos para los pelos de las orejas */
.ear::before,
.ear::after {
    content: "";
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: #000000; /* $color-black */
}

.ear--left::before,
.ear--left::after {
    right: 10%;
}

.ear--left::after {
    transform: rotate(-45deg);
}

.ear--right::before,
.ear--right::after {
    left: 10%;
}

.ear--right::after {
    transform: rotate(45deg);
}

/* Estilos para la cara del gato */
.face {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000; /* $color-black */
    border-radius: 50%;
}

/* Estilos para los ojos del gato */
.eye {
    position: absolute;
    top: 35%;
    height: 30%;
    width: 31%;
    background: #fff; /* $color-white */
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.eye--left {
    left: 0;
}

.eye--right {
    right: 0;
}

/* Párpados */
.eye::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: #000000; /* $color-black */
    animation: blink 4s infinite ease-in;
}

@keyframes blink {
    0% {
        height: 0;
    }
    90% {
        height: 0;
    }
    92.5% {
        height: 100%;
    }
    95% {
        height: 0;
    }
    97.5% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

/* Puntas de los ojos */
.eye::before {
    content: "";
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: #fff; /* $color-white */
    border-radius: 50%;
}

.eye--left::before {
    right: -5%;
}

.eye--right::before {
    left: -5%;
}

/* Estilos para las pupilas */
.eye-pupil {
    position: absolute;
    top: 25%;
    height: 50%;
    width: 20%;
    background: #000000; /* $color-black */
    border-radius: 50%;
    animation: look-around 4s infinite;
}

.eye--left .eye-pupil{
    left: 50%; /*Ajustar posicion pupila izquierda*/
}
.eye--right .eye-pupil{
    right: 50%; /*Ajustar posicion pupila derecha*/
}

@keyframes look-around {
    0% {
        transform: translate(0);
    }
    5% {
        transform: translate(50%, -25%);
    }
    10% {
        transform: translate(50%, -25%);
    }
    15% {
        transform: translate(-100%, -25%);
    }
    20% {
        transform: translate(-100%, -25%);
    }
    25% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.eye-pupil::after {
    content: "";
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: #fff; /* $color-white */
}

/* Estilos para el hocico del gato */
.muzzle {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 6%;
    width: 10%;
    background: #fff; /* $color-white */
    transform: translateX(-50%);
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}