@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
    overflow-x: hidden;
}

.contenedor::-webkit-scrollbar:vertical {
    width:4px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 1px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/* Slider */
/* .gallery {
    width: 100%;
}

.gallery-container {
    display: flex;
    align-items: center;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    opacity: 0.8;
    z-index: 1;
    width: 400px;
    height: 240px;
}

.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    min-width: 500px;
    min-height: 300px;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 36px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover::before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background-color: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background-color: #555;

} */

/* Slider 2 */
/* Slider */
.gallery {
    width: 100%;
}

.gallery-container {
    display: flex;
    align-items: center;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    overflow: hidden; /* Evita que los elementos sobresalgan */
}

.gallery-item {
    opacity: 0;
    position: absolute;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Asegura que las transiciones ocurran de forma suave */
    width: 330px;
    z-index: 0;
    border-radius: 15px;
}

.gallery-item-1 {
    left: 15%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    opacity: 0.8;
    z-index: 1;
    width: 400px;
    height: 240px;
    transform: translateX(-50%);
}

.gallery-item-2 {
    left: 30%;
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 500px; /* Cambié min-width a width */
    height: 300px; /* Cambié min-height a height */
}

.gallery-item-4 {
    left: 70%;
}

.gallery-item-5 {
    left: 85%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 36px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid white;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover::before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li {
    background-color: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background-color: #555;
}
